html {  
    box-sizing: border-box;
    background-color: #ecd5b9;
    
    color: black; 
    font-weight: 300;
    font-size: 0.875em;
    line-height: 1.25;
    font-family: Roboto;

    overflow-y: scroll;
}

* {
    box-sizing: inherit;
}

body {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page > .mainUnterseite {
    flex-grow: 1;
} 

header{
    position: relative;
    background-position: center;
    background-size: cover;
}

body .page > header {
    padding-top: 1em;
    padding-bottom: 0.5em; 
}

body .page > header::after{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    z-index: -1;
    background-size: cover; /* 100%, auto, cover, contain */
    background-repeat: no-repeat;
    background-image: url("../images/simon-stankowski-web_klein.jpg");
}

h1,h2,h3,h4,h5,h6,.navigation{ 
    font-family: Amatic SC;  
}

h3{
    font-size: 2em;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}

h2{
    margin:0em;
} 

 .logoBildDiv{
    /* display: inline-block; */
    display: flex;
    justify-content: center;
 }

.navigation li, footer {
    border-style: solid;
    border-width: 1.25px;
    border-color: black;
    padding: 0 0.2em 0; 
}

.navigation li{
    display: inline-block;
    margin-right: -0.15em;
}

.navigation ul {
    padding: 0em; 
    line-height: 1.5em;
    text-align: center; /**/
    padding: 0 0.25em 0;
    font-size: 2em;
    margin-bottom: 0.25em;
    margin-top: 0.75em;
} 
.active{
    background: #b8c26f;
}

.S { /* div */
    min-height: 35px;
    display: flex;
    justify-content: flex-end;
}


.SButtonUl {  /* ul */
    text-align: right; 
    padding: 0 0.25em 0;
    margin-bottom: 0em; 
    margin-top: 0;
}  

.SButtonUl li{
    display: inline-block;
}
.hidden{
   display: none;  
}
div > button{
    border: none;
}
button{
    background: none;
    border: 1px solid black;
    border-radius: 50%;
    /* text-decoration: none;  */
} 
li button{
    padding: 0.5em;
    padding-bottom: 0.25em;
}

.symbolS{  /* share */
    text-align: right;
    margin-right: 1.5em; 
} 
.symbols_S{
    width: 1.5em;
    height: 1.5em;
} 
@media (min-width: 700px) {
    .symbols_S {
       width: 2em;
       height: 2em;
    }
    .symbolS{
        width: 2.5em;
       height: 2.5em;
    }
}

.textTitel{
    font-size: 3em; 
    font-weight: 400; 
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.text{
    font-size: 1.5em;
    margin-top: 0.5em;
}

article{
    font-size: 2.5em; 
    margin-left: 0.25em;
    margin-right: 0.25em;
     /* text-decoration-width: 0.5em;  */
}    
article a{
    text-decoration: none;
}
@media(min-width: 800px){
    .kopf{
        margin-left: 0.5em;
    }
}
@media(min-width: 1000px){
    .logo{
       width: 200px;
       margin-left: auto;
       margin-right: auto;
    }
    .text{
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    article{
        width:650px;
        margin-left: auto;
        margin-right: auto; 
    }
}
.utH,.utH1,.utH2,.utH3,.utH4,.utH5{
    position: relative;
}
 .utH ::after{
    position: absolute;
    top: -15px;
    left: -31px;
    content: '';
    display: inline-block; 
    width: 100%;
    height: 150%;
    opacity: 0.5;
    z-index: -1;
    background-repeat: no-repeat; 
    background-image: url("../images/zeroWaste güner Strich 3-05.svg");
} 

.utH{
    margin-left: 0.25em;
}
.infoZuUt{
    font-size: 0.5em;
    margin-top: 0.5em;
}

section{
    margin-bottom: 5em;
}

footer{
    font-size: 1em;
}
.column {
    display: inline-block;
    vertical-align: top;
    font-size: 1em;
}

@media (min-width: 700px ){
.column{
    width: 50%;
    padding-left: 1em;
}
}

.infoZuInfo, .Email{
    font-size: 1.25em;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}
@media(min-width: 1000px){
    .infoZuInfo{
        width: 400px;
        margin-right: auto;
    }
}

a{
    color:black;
     text-decoration: underline;
     text-decoration-color: #b8c26f;
}

a:hover{
    color:darkolivegreen; 
    /* #b8c26f; */  
}

/*---------------Unterseiten---------------------------*/

/* .headerUnterseite .logo{
    font-size: 3em;
    margin-bottom: 0;
    margin-left: 0.25em; 
} */
/* .headerUnterseite .headerKopf{

} */

/* @media(min-width: 700px){
    /* .headerKopf{
        display: flex; 
        align-items: baseline;
    } 
    /* .headerUnterseite .logoBildDiv{ 
        display: inline-block;
        vertical-align: bottom;
    } */ 

@media(min-width: 1000px){
    .headerKopf{
        display: block;
    }
}
.headerUnterseite .logoBild{
    width: 75px;
    height: 75px;
}


.headerUnterseite ul{
    margin: 0.25em;
}

.headerUnterseite > header::after{  /**/
    height: 90%;
} 

.mainUnterseite section{
    margin-bottom: 1em;
}

.mainUnterseite .ueberschrift{
    font-size: 3em;
}
.ueberschriftH{
    position: relative;
    padding-left: 0.5em;
}
.ueberschriftH::after{
    position: absolute;
    top: -4px;
    left: -10px;
    content: '';
    display: inline-block; 
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
    background-repeat: no-repeat; 
    background-image: url("../images/zeroWaste güner Strich 6-08.svg");
}

.mainUnterseite .tipp{
    font-size: 1.5em;
} 
@media (min-width: 1000px){
    .headerUnterseite .logo{
        text-align: center;
        margin-left: auto;
        margin-right: auto;  
    }
    .ueberschrift h2{
        width: 700px;
        margin-left: auto;
        margin-right: auto; 
    }
    .mainUnterseite article{
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}
.mainUnterseite .tippUeberschrift{
    font-size: 1.5em;
}
.mainUnterseite p{
    margin-top: 0.5em;
    margin-bottom: 0.5em; 
}
.mainUnterseite .titelUtextUbild > p{
    display: inline-block;
    vertical-align: top;   
}
.tipp{
    padding: 0.5em;
    background:#fff6eb ; /* white*/
}
.tippUeberschrift{
    display: inline-block;
    border-bottom: 1px solid black;
}
.divBild{
    display: flex;
    justify-content: center;
}    
/* .bild{
    min-width: 100%;
    height: auto;
} */

@media (min-width: 700px){
    .titelUtextUbild p {
    width: 76%; 
    } 
    .divBild{
        display: inline-block;
    }
    /* .bild{
        width: 150px;
        height: auto;
    } */
}
summary {
    font-size: 1em;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
}
summary::-webkit-details-marker {
    display: none;
}
summary::after {
    content:'';
    width: 24px;
    height: 24px;
    margin-left: auto;
    background-image: url("../images/icons/chevron-up.svg");
    background-repeat: no-repeat;
}
details[open] summary::after {
    transform: rotate(180deg); /* scale */
}
.summary-title{
    width: calc(100% - 2em - 24px);
    display: block;
}
 details summary:focus {
    outline: none;
}  

.UTweiterleitung {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2em;
    margin-left: 0.3em;
    margin-right: 0.3em;
} 

.luecke{
    display: inline-block;
    width: 1%;
} 

.UTweiterleitung a{
    text-decoration: none;
}
.vorheriges, .folgendes{
    background-color: #fff6eb;
    display: inline-block;  
    width: 49.5%;
    position: relative; 
    padding: 0.75em;
} 

.vorheriges {
    text-align: left;
}

.folgendes {
    text-align: right;
}

.folgendes .w,
.vorheriges .w {
    display: inline;
}

.vorheriges::before, .folgendes::after{
    display: inline-block;
    content:'';
    width: 20px;
    height: 20px;
    background-image: url("../images/icons/arrow-button-up-1.svg");
    background-repeat: no-repeat;
    transition: transform 0.2s ease-in-out;
}
.vorheriges::before {
    transform: rotate(270deg); /* scale */
    margin-right: 0.75em;
}

.vorheriges:hover::before {
    transform: translate(-5px, 0) rotate(270deg);
}

.folgendes::after {
    transform: rotate(90deg); /* scale */
    margin-left: 0.75em;
}

.folgendes:hover::after{
    transform: translate(5px, 0) rotate(90deg);
}

@media(min-width: 100px){
    .w{
        font-size: 1em;
    }
} 
@media(min-width:280px){
    .w{
        font-size: 1.5em;
    }
}
 @media(min-width:700px){
    .w{
        font-size: 1.75em;
    }
}
@media (min-width: 1000px){
    .UTweiterleitung{
        width: 700px;
        margin-left: auto;
        margin-right: auto; 
    }
}

.mainUnterseite .ueberschriftQ{
    font-size: 1em;
}

.mainUnterseite .emailL{
    text-decoration: underline;
    text-decoration-color: #b8c26f; 
}

@media(min-width: 700px){
    .mainImpressum, .mainDatenschutz{
        display: block;
        width: 700px;
        margin-left: auto;
        margin-right:auto; 
    }
}
/* .logo-rotated {
    transform: rotate(25deg);
    transform-origin: left center;
} */
/* transform: rotate(180deg); */
/*
@media (min-width: 900px ){
    .navigation li{
        font-size: 130%;
    } 
        .column{
        font-size: 1.5em;
        }
        .text{
            font-size: 170%;
        }

        article > h2 {
        font-size: 160%;
        }
        
} */
